---

---

<footer>
    <div class="footer-content container">
        
    </div>
</footer>

<style>
    footer{
        width: 100vw;
        background-color: black;
    }
    .footer-content{
        height: 75px;
    }
</style>